/* --- CHARACTER DESCRIPTION LAYOUT --- */
/* Grid 2 columns of content */
.dw-custom-sheet .tab.description .sheet-tab {
  display: grid;
  grid-template-columns: 1fr 1.45fr;
  gap: 1rem;
  padding: 0.75rem;
}

/* Bigger editor (prosemirror) spacement */
.editor {
  min-height: var(--min-height);
}
.editor.prosemirror .editor-container {
  /* line-height: 1.5em; */
  min-height: var(--min-height);
  max-height: 100%;
}

/* Spacing between sections */
.dw-custom-sheet .tab.description .cell--aesthetics {
  margin-bottom: 10px;
}

/* Alignment and race fields */
.dw-custom-sheet .tab.description .cell--alignment,
.dw-custom-sheet .tab.description .cell--race {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.dw-custom-sheet .tab.description .cell--alignment input,
.dw-custom-sheet .tab.description .cell--race input {
  width: 100%;
}
.dw-custom-sheet .tab.description .cell--alignment,
.dw-custom-sheet .tab.description .cell--race {
  padding: 4px 0;
}

/* --- BONDS --- */

/* Bonds list layout */
.dw-custom-sheet .tab.description .cell--bonds .items-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

/* Bond item */
.dw-custom-sheet .tab.description .cell--bonds .items-list .item {
  display: flex;
  flex: 45%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

/* Bond description */
.dw-custom-sheet .tab.description .cell--bonds .item-description {
  flex: 100%;
}

/* Remove button */
.dw-custom-sheet .tab.description .cell--bonds .item-controls a {
  color: var(--remove-btn-color) !important;
  cursor: pointer;
}

/* --- BIOGRAPHY --- */

/* Container */
.dw-custom-sheet .tab.description .cell--bio {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  position: relative;
}

/* Editor container */
.dw-custom-sheet .tab.description .cell--bio .editor {
  min-height: unset;
  max-height: 51.80em;
  height: auto;
  border: none;
  background: none;
  padding: 0;
}

/* Editor icon - clickable */
.dw-custom-sheet .tab.description .cell--bio a {
  z-index: 2;
}

/* Editor content (where the text actually is) */
.dw-custom-sheet .tab.description .cell--bio .editor-content {
  position: relative;
  padding: 0.5em 1.25em;
  line-height: 1.45;
  z-index: 1;

  /* Background effect behind the text */
  background:
    linear-gradient(
      to right,
      var(--accent-color) 0 4px,
      transparent 4px
    );

  /* Scrollbar - firefox */
  scrollbar-width: thin !important;
  scrollbar-color: #ffffff09 transparent !important;
}

/* Focus effect on the pseudo-background when editing */
.dw-custom-sheet .tab.description .cell--bio .editor:focus-within .editor-content::before {
  box-shadow: 0 0 0 2px rgba(32, 32, 32, 0.35);
}

/* Drop cap for first paragraph */
.dw-custom-sheet .tab.description .cell--bio .editor-content p:first-child::first-letter {
  font-size: 32px;
  font-weight: 700;
  float: left;
  line-height: 1;
  margin-right: 0.15em;
  color: var(--accent-color);
}
