/* --- EXTRA CUSTOM RESOURCES GRID --- */

/* Grid for the container - to fit sheet-resources correctly */
.dw-custom-sheet .extra-custom-resources {
  grid-column: 1 / -1;
  margin: 0.75em 0 1em;
}
.dw-custom-sheet .extra-custom-resources .cell--resource1 {
  grid-column: span 1;
}
.dw-custom-sheet .extra-custom-resources > div[data-content] {
  display: grid;
  margin: 4px 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75em;
  align-items: start;
}

/* Dropdown Toggle */
.dw-custom-sheet .custom-resources-toggle {
    position: absolute;
    margin-top: -16px;
    z-index: 2;
}

/* Each resource cell (exclude add-resource button) */
.dw-custom-sheet .extra-custom-resources .cell:not(.cell--add-resource) {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding: 0.4em 0.5em 0.5em;
  background-color: #74747424;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  min-width: 0;
  /* Make the cell position relative so the delete icon is positioned correctly */
  position: relative;
}

/* Resource title */
.dw-custom-sheet .extra-custom-resources .cell__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0.4em;
  height: 34px;
  background: #344055;
  color: #e5e5e5;
  border-radius: 4px;
}
/* Every custom resource except resource1 has space for remove button */
.dw-custom-sheet .extra-custom-resources .cell:not(.cell--resource1) .cell__title {
  width: 95%;
}

.dw-custom-sheet .extra-custom-resources .cell__title input[type="text"] {
  width: 100%;
  padding: 0.2em 0.4em;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.dw-custom-sheet .extra-custom-resources .cell__title input[type="text"]:focus {
  border-color: var(--border-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* --- COUNTER --- */
.dw-custom-sheet .extra-custom-resources .cell__counter {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.25em;
}
.dw-custom-sheet .extra-custom-resources .cell__counter span {
  opacity: 0.6;
}

/* --- INPUTS --- */

.dw-custom-sheet .extra-custom-resources .cell__counter input {
  width: 100%;
  text-align: center;
  padding: 0.25em 0.3em;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.dw-custom-sheet .extra-custom-resources .resource-input {
  width: 44%;
  min-width: 2.2em;
  padding: 0.25em 0.4em;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.dw-custom-sheet .extra-custom-resources .resource-input:focus {
  border-color: var(--border-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* --- BUTTONS --- */

/* Remove button */
.dw-custom-sheet .extra-custom-resources .resource-control.remove-extra-resource {
  position: absolute;
  top: 5px;
  right: 0;
  width: 1.35em;
  height: 1.5em;
  /* background: transparent !important; */
  /* color: var(--remove-btn-color) !important; */
  border: none;
  cursor: pointer;
  z-index: 2;
}

.dw-custom-sheet .extra-custom-resources .resource-control.remove-extra-resource:hover {
  box-shadow: none !important;
  /* color: var(--accent-color) !important; */
}

/* Add resource button */
.dw-custom-sheet .extra-custom-resources .cell--add-resource {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.4em;
}
.dw-custom-sheet .extra-custom-resources .cell--add-resource .add-extra-resource {
  display: flex;
  width: 1em;
  height: 4em;
  right: 94%;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
}
.dw-custom-sheet .extra-custom-resources .cell--add-resource .add-extra-resource i {
  font-size: 16px;
  margin-left: 4px;
}
.dw-custom-sheet .extra-custom-resources .add-extra-resource:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.05);
}
