/* --- GENERAL ITEM EFFECTS --- */

/* Effect when hovering over the item */
.dw-custom-sheet .item-name:hover {
  margin-left: 25px;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

/* --- MAGICAL ITEMS IN THE EQUIPMENT TAB OF THE CHARACTER SHEET --- */

/* Avatar */
.dw-custom-sheet .tab.equipment .item.magic .item-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dw-custom-sheet .tab.equipment .item.magic .item-avatar::after {
  content: "";
  position: absolute;
  inset: -2px;
  pointer-events: none;

  /* Base brightness (always visible)  */
  box-shadow:
    inset 0 0 6px var(--effect-init),
    inset 0 0 12px var(--effect-end),
    0 0 8px var(--effect-init);

  background: linear-gradient(
    120deg,
    #00000000 30%,
    rgb(255 255 255 / 25%),
    transparent 70%
  );
  background-size: 200% 200%;
  background-position: -100% 0;

  /* Animation already defined, but paused */
  animation: avatar-shimmer 1s linear infinite;
  animation-play-state: paused;

  /* Opacity transition control */
  opacity: 0.5;
  transition: opacity 1s ease;
}

/* Label :hover activates animation */
.dw-custom-sheet .tab.equipment
.item.magic:has(.item-label:hover)
.item-avatar::after {
  animation-play-state: running; /* Activates the continuous cycle  */
  opacity: 0.8; /* Optional: increases brightness */
}

/* Continuous animation */
@keyframes avatar-shimmer {
  0%   { background-position: -100% 0; }
  100% { background-position: 100% 0; }
}
